.Input {
  position: relative;

  .label {
    color: var(--gray-4);
    font-size: 14px;
    margin: 0 0 3px 6px;
  }

  > input {
    width: 100%;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--gray-1);
    padding: 10px 15px;
    transition: 0.2s;
    font-weight: bold;
    color: var(--dark-1);

    &.error {
      border-color: var(--red-1);
      box-shadow: 0 0 0 3px var(--red-3);
    }

    &:disabled {
      background-color: var(--gray-0);
      border-color: transparent;
    }

    &:focus:not(.error) {
      border-color: var(--main-1);
      box-shadow: 0 0 0 4px var(--main-3);
    }

    &::placeholder {
      color: var(--gray-3);
      font-weight: 300;
    }
  }

  .error-tooltip {
    z-index: 11;
    position: absolute;
    top: -35px;
    right: 0;
    background-color: var(--red-2);
    color: white;
    padding: 3px 10px;
    font-size: 13px;
    border-radius: var(--border-radius-3);

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%) rotate(45deg);
      width: 8px;
      height: 8px;
      background-color: var(--red-2);
    }
  }

  &.is-dark-mode {
    .label {
      color: white;
    }

    > input {
      color: white;
    }
  }

  @include view-mode(mobile) {
    > input {
      padding: 20px 15px;

      &:focus:not(.error) {
        border-color: var(--main-1);
        box-shadow: 0 0 0 4px var(--main-4);
      }
    }

    .error-tooltip {
      top: -50px;
      padding: 8px 10px;
      border-radius: var(--border-radius-2);
      font-size: 16px;
    }
  }
}
