$radius: 15px;
$input-border: rgb(233, 233, 233);

.Input {
  width: 100%;
  border-radius: $radius;
  border: 2px solid $input-border;
  padding: 10px 15px;
  transition: 0.2s;
  font-weight: bold;

  &.error {
    border-color: rgb(255, 82, 82);
  }

  &:disabled {
    background-color: $gray-0;
    border-color: transparent;
  }

  &:focus {
    border-color: $main-1;
  }

  &::placeholder {
    font-weight: 400;
  }
}
