.Button {
  font-weight: bold;
  text-align: center;
  transition: 0.1s;

  &.full-width {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  &.default {
    background-color: $blue-1;
    color: white;
    border-radius: 30px;

    &.regular {
      padding: 13px 30px;
      font-size: 16px;
    }

    &.large {
      padding: 18px 35px;
      font-size: 18px;
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.chip {
    background-color: $gray-1;
    padding: 15px;
    border-radius: 10px;

    &:active {
      background-color: $gray-2;
    }
  }
}
