.TicketList {
  width: 100%;
  min-width: 300px;
  max-width: 1000px;
  padding: 0 30px;

  .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: $dark-0;
  }

  .count {
    display: flex;
    align-items: center;

    > button {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 15px;
      color: white;
      padding: 6px 10px;
      border-radius: $border-radius-1;
      transition: 0.2s;
      opacity: 0.6;

      .num {
        font-weight: bold;
        margin-left: 5px;
      }

      &.active {
        opacity: 1;
        padding: 9px 10px;
      }

      &.loading {
        padding-right: 30px;

        .num {
          display: none;
        }

        &::after {
          content: "";
          z-index: 9;
          position: absolute;
          top: 50%;
          right: 8px;
          width: 13px;
          height: 13px;
          border-radius: 10px;
          border-style: solid;
          border-width: 2px;
          animation: loading-rotate 1s linear infinite;
        }
      }
    }

    .HANA_TOUR {
      background-color: $hana-tour;
      margin-right: 5px;

      &::after {
        border-color: white white white transparent;
      }
    }

    .MODE_TOUR {
      background-color: $mode-tour;
      margin-right: 5px;

      &::after {
        border-color: white white white transparent;
      }
    }

    .ONLINE_TOUR {
      background-color: $online-tour;

      &::after {
        border-color: white white white transparent;
      }
    }
  }

  .sort {
    display: flex;
    justify-content: flex-end;

    > button {
      display: flex;
      align-items: center;
      padding: 10px 0;
      border-radius: $border-radius-1;
      font-size: 18px;
      transition: 0.2s;

      &:active {
        transform: scale(0.95);
      }

      .label {
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }

  .no-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: $border-radius-1;
    color: $gray-2;
    font-size: 30px;
    margin-top: 90px;

    .title {
      display: flex;
      align-items: center;

      > svg {
        margin-right: 6px;
      }
    }

    .go-back {
      margin-top: 20px;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      border-radius: $border-radius-0;
      background-color: $main-1;
      transition: 0.2s;

      &:hover {
        background-color: $main-2;
      }
    }
  }

  @keyframes loading-rotate {
    from {
      transform: translate(0, -50%) rotate(0);
    }
    to {
      transform: translate(0, -50%) rotate(360deg);
    }
  }

  @include view-mode(mobile) {
    padding: 0;
    margin-bottom: 6px;

    .top-info {
      .count {
        > button {
          padding: 5px 20px;

          .label {
            display: none;
          }

          .num {
            margin-left: 0;
          }

          &.active {
            padding: 8px 20px;
          }

          &.loading {
            height: 35px;
            padding: 5px 25px;

            &::after {
              right: calc(50% - 6px);
            }
          }
        }

        .HANA_TOUR {
          margin-right: 3px;
        }

        .MODE_TOUR {
          margin-right: 3px;
        }
      }
    }

    .sort button {
      font-size: 15px;
    }
  }
}
