.TicketList {
  width: 100%;
  min-width: 300px;
  max-width: 800px;

  .sort {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 15px;

    > button {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: $dark-1;

      .label {
        font-weight: bold;
        margin-right: 8px;
      }
    }
  }
}
