$border-radius-0: 20px;
$border-radius-1: 13px;
$border-radius-2: 9px;
$border-radius-3: 5px;

$background-1: rgb(250, 250, 250);

$mode-tour: #009c75;
$hana-tour: #6830be;
$online-tour: #24aae1;

// $main-1: #008cff;
// $main-2: #007be0;
// $main-3: #bae0ff;

// $main-1: #00b96c;
// $main-2: #009c5b;
// $main-3: #00ff9560;

$main-1: #008cff;
$main-2: #007be0;
$main-3: #bae0ff;

$blue-1: #3a76cc;
$blue-2: #2e5fa3;
$blue-3: #3a77ccb6;

$gray-0: #ebebeb;
$gray-1: #d9d9d9;
$gray-2: #b9b9b9;
$gray-3: #adadad;
$gray-4: #8f8f8f;
$gray-5: #858484;

$dark-0: #6b6b6b;
$dark-1: #636363;
$dark-2: #1d192b;

$red-1: rgb(255, 52, 52);
$red-2: rgb(255, 96, 96);
$red-3: rgb(255, 207, 207);
