.Page {
  height: 100vh;
  padding: calc(70px + $top-menu-bar-height) 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    $sky: rgb(188, 212, 255);

    .key-visual {
      position: relative;
      width: 500px;
      height: 180px;
      border-radius: 50px;
      margin-top: 30px;

      background-color: $sky;

      .plane {
        z-index: 10;
        position: absolute;
        left: 39%;
        top: 18%;
        width: 120px;
        height: 120px;

        animation: plane-fly 3s ease-in-out infinite;
      }

      .cloud {
        position: absolute;
        width: 100px;
        height: 100px;
        opacity: 0;

        &.size-0 {
          z-index: 8;
          filter: brightness(1.1);
          transform: translateY(-40px) scale(0.5);
          animation: cloud-move 6s 1s linear infinite;
        }
        &.size-1 {
          z-index: 9;
          filter: brightness(1.1);
          transform: translateY(-20px) scale(0.7);
          animation: cloud-move 5s linear infinite;
        }
        &.size-2 {
          z-index: 11;
          filter: brightness(1.2);
          transform: translateY(50%) scale(0.8);
          animation: cloud-move 4s 3s linear infinite;
        }
        &.size-3 {
          z-index: 11;
          filter: brightness(1.2);
          transform: translateY(90%) scale(1);
          animation: cloud-move 3s 1s linear infinite;
        }
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes plane-fly {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes cloud-move {
    0% {
      opacity: 0;
      left: 90%;
    }
    10% {
      opacity: 0.8;
    }
    90% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      left: -20%;
    }
  }

  @include view-mode(mobile) {
    .intro {
      .key-visual {
        width: 280px;

        .plane {
          width: 90px;
          height: 90px;
          left: 34%;
          top: 26%;
        }

        .cloud {
          width: 80px;
          height: 80px;

          &.size-0 {
            transform: translateY(-30px) scale(0.5);
          }
          &.size-1 {
            transform: translateY(-10px) scale(0.7);
          }
          &.size-2 {
            transform: translateY(70px) scale(0.8);
          }
          &.size-3 {
            transform: translateY(100px) scale(1);
          }
        }
      }
    }

    .form {
      margin-top: 40px;
    }
  }
}
