.Page {
  height: 100vh;
  padding: calc(70px + $top-menu-bar-height) 0 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    .key-visual {
      position: relative;
      margin-top: 30px;

      .plane {
        position: absolute;
        left: 0;
        bottom: -10px;
        transform: rotate(-60deg);
      }
    }
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include view-mode(mobile) {
    .form {
      margin-top: 40px;
    }
  }
}
