.Page {
  height: 100vh;
  background-image: linear-gradient(#9ecdff -100%, white 100%);
  padding: 70px 45px 0;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logos {
      display: flex;
      align-items: center;
      height: 70px;
    }

    .title {
      margin: 12px 0 14px 0;
      font-size: 28px;
      font-weight: bold;

      span {
        color: $blue-1;
      }
    }

    .sub-title {
      font-size: 15px;
      color: $dark-1;

      span {
        color: $blue-1;
      }
    }

    .key-visual {
      position: relative;
      margin-top: 30px;

      .plane {
        position: absolute;
        left: 0;
        bottom: -10px;
        transform: rotate(-60deg);
      }
    }
  }

  .search {
    margin-top: 115px;

    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px 0;
      border-top: 1px solid $gray-2;
      border-bottom: 1px solid $gray-2;

      .plane {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -20%);
      }
    }

    .location,
    .date {
      display: flex;
      justify-content: space-between;
      width: 180px;
    }

    .location {
      button {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $dark-1;
        font-size: 15px;

        .code {
          color: black;
          font-size: 25px;
          font-weight: bold;
        }
      }
    }

    .date {
      color: $dark-1;
      font-size: 16px;
      margin-top: 25px;
    }

    .member {
      display: flex;
      justify-content: center;
      margin-top: 18px;
      font-size: 15px;
    }
  }

  .bottom-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}
