$bounce-animation: bounce 5s cubic-bezier(0, 0, 0.7, 1.6) infinite;

.TitleMotion {
  margin: 12px 0 0 0;
  font-size: 28px;
  font-weight: bold;

  > span {
    display: inline-block;
    animation: $bounce-animation;

    &:nth-of-type(1) {
      animation-delay: 0.5s;
    }
    &:nth-of-type(2) {
      animation-delay: 0.8s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(4) {
      animation-delay: 1.4s;
    }
  }

  strong {
    color: var(--main-1);
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    5% {
      transform: translateY(-5px);
    }
    10% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }

  @include view-mode(mobile) {
    font-size: 24px;
  }
}
