.TitleMotion {
  display: flex;
  margin: 12px 0 14px 0;
  font-size: 28px;
  font-weight: bold;

  transform: translateX(-10px);

  strong {
    color: $main-1;
    margin-left: 4px;
  }

  .motion {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 120px;
    margin-right: 7px;

    .keyword {
      position: absolute;

      &.right-padding {
        padding-right: 8px;
      }
    }
  }

  @include view-mode(mobile) {
    font-size: 25px;
  }
}
