.top-menu-bar {
  z-index: 999;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--top-menu-bar-height);
  background-color: var(--background-2);
  padding: 0 30px;
  box-shadow: 0 0 15px -12px var(--dark-2);

  button {
    transition: 0.2s;

    &:active {
      transform: scale(0.9);
    }
  }

  .title {
    display: flex;
    align-items: center;

    h1 {
      color: var(--gray-4);
      font-size: 18px;
      font-weight: bold;
    }
  }

  .info {
    display: flex;
    align-items: center;
    color: var(--gray-4);

    > * {
      margin-left: 18px;
    }
  }
}
